.screen-14 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  min-height: 1194px;
  min-width: 834px;
  position: relative;
  width: 100%;
}

.screen-14 .frame-143 {
  -webkit-backdrop-filter: blur(15.12px) brightness(100%);
  backdrop-filter: blur(15.12px) brightness(100%);
  background-color: #ffffff73;
  border: 1.12px solid;
  border-color: #ffffff1a;
  border-radius: 24.64px;
  box-shadow: 0px 0px 18.48px #0000001a;
  display: flex;
  height: 712px;
  margin-top: 201px;
  width: 612px;
  z-index: 1;
}

.screen-14 .frame-144 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 714px;
  position: relative;
  width: 612px;
}

.screen-14 .frame-145 {
  height: 143px;
  position: relative;
  width: 612px;
}

.screen-14 .frame-146 {
  display: flex;
  height: 71px;
  left: calc(50.00% - 82px);
  position: absolute;
  top: calc(50.00% - 34px);
  width: 334px;
}

.screen-14 .frame-147 {
  -webkit-backdrop-filter: blur(15.12px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(15.12px) brightness(100%);
  background-color: #ffffff73;
  border: 1.12px solid;
  border-color: #ffffff1a;
  border-radius: 18.48px;
  box-shadow: inset 0px 0px 7.84px #0000001a;
  display: flex;
  gap: 8.96px;
  height: 71px;
  padding: 4.48px 133.26px 4.48px 30px;
  position: relative;
  width: 334px;
}

.screen-14 .text-wrapper-112 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 16.8px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 1.18px;
  line-height: 52.1px;
  margin-right: -115.26px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.screen-14 .text-wrapper-113 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 22.2px;
  font-weight: 500;
  height: 81px;
  justify-content: center;
  left: 68px;
  letter-spacing: 1.55px;
  line-height: 80.8px;
  position: absolute;
  top: calc(50.00% - 40px);
  white-space: nowrap;
}

.screen-14 .vector-65 {
  align-self: stretch;
  height: 1.23px;
  position: relative;
  width: 100%;
}

.screen-14 .frame-148 {
  height: 142px;
  position: relative;
  width: 612px;
}

.screen-14 .frame-149 {
  display: flex;
  height: 71px;
  left: calc(50.00% - 82px);
  position: absolute;
  top: calc(50.00% - 35px);
  width: 334px;
}

.screen-14 .view-31 {
  -webkit-backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff1a;
  border-radius: 36.71px;
  box-shadow:
    0px 0px 9.4px #00000012, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.18), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.14
    );
  display: flex;
  height: 72px;
  left: calc(50.00% - 176px);
  overflow: hidden;
  position: fixed;
  top: 982px;
  width: 351px;
  z-index: 2;
}

.screen-14 .frame-150 {
  -webkit-backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  background-color: #0088ffb2;
  border-radius: 36.71px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.18), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.14
    );
  height: 64.24px;
  margin-left: 5.2px;
  margin-top: 3.9px;
  overflow: hidden;
  position: relative;
  width: 342.19px;
}

.screen-14 .text-wrapper-114 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 17px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  left: calc(50.00% - 110px);
  letter-spacing: 1.19px;
  line-height: 46.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 220px;
}

.screen-14 .frame-151 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff;
  box-shadow:
    0px 4px 20px #0000000d, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  height: 834px;
  left: 366px;
  position: fixed;
  top: -369px;
  transform: rotate(90.00deg);
  width: 101px;
  z-index: 3;
}

.screen-14 .view-32 {
  height: 42px;
  left: 34px;
  position: absolute;
  top: calc(50.00% - 374px);
  transform: rotate(-90.00deg);
  width: 42px;
}

.screen-14 .liquid-glass-regular-13 {
  box-shadow: 0px 6.12px 17.5px #0000000d;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-14 .blur-11 {
  height: calc(100% + 46px);
  left: -23px;
  object-fit: cover;
  position: absolute;
  top: -23px;
  width: calc(100% + 46px);
}

.screen-14 .fill-11 {
  background: linear-gradient(
      0deg,
      rgba(247, 247, 247, 1) 0%,
      rgba(247, 247, 247, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ), linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background-blend-mode: color-dodge;
  border-radius: 259px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-14 .glass-effect-12 {
  -webkit-backdrop-filter: blur(2.6px) brightness(100.0%) saturate(95.0%);
  backdrop-filter: blur(2.6px) brightness(100.0%) saturate(95.0%);
  background-color: #00000001;
  border-radius: 259px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.17), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.14
    );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-14 .icon-park-outline-9 {
  aspect-ratio: 1;
  height: 19px;
  left: calc(50.00% - 9px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 19px;
}

.screen-14 .vector-66 {
  height: 73.51%;
  left: 13.24%;
  position: absolute;
  top: 13.24%;
  width: 73.51%;
}

.screen-14 .text-wrapper-115 {
  color: #000000;
  font-family: "Noto Sans Lao ExtraCondensed-Light", Helvetica;
  font-size: 26.2px;
  font-weight: 300;
  left: 15px;
  letter-spacing: 1.84px;
  line-height: normal;
  position: absolute;
  top: 708px;
  transform: rotate(-90.00deg);
}

.screen-14 .view-33 {
  height: 42px;
  left: 34px;
  position: absolute;
  top: calc(50.00% - 303px);
  transform: rotate(-90.00deg);
  width: 42px;
}

.screen-14 .chevron-left-4 {
  height: 26px;
  left: calc(50.00% - 13px);
  position: absolute;
  top: calc(50.00% - 13px);
  width: 26px;
}

.screen-14 .icon-8 {
  height: 55.00%;
  left: 35.00%;
  position: absolute;
  top: 22.50%;
  width: 30.00%;
}
