.screen-9 {
  background-color: #ffffff;
  min-height: 1194px;
  min-width: 834px;
  position: relative;
  width: 100%;
}

.screen-9 .rectangle-8 {
  background-color: #fff8f1;
  height: 81px;
  left: 32px;
  position: absolute;
  top: 347px;
  width: 380px;
}

.screen-9 .rectangle-9 {
  background-color: #fff8f1;
  height: 81px;
  left: 421px;
  position: absolute;
  top: 347px;
  width: 380px;
}

.screen-9 .text-wrapper-71 {
  align-items: center;
  color: #4c3628;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 31.1px;
  font-weight: 700;
  height: 85px;
  justify-content: center;
  left: 189px;
  letter-spacing: 2.18px;
  line-height: 85.0px;
  position: absolute;
  text-align: center;
  top: 345px;
  white-space: nowrap;
}

.screen-9 .text-wrapper-72 {
  align-items: center;
  color: #4c3628;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 31.1px;
  font-weight: 700;
  height: 85px;
  justify-content: center;
  left: 478px;
  letter-spacing: 2.18px;
  line-height: 85.0px;
  position: absolute;
  text-align: center;
  top: 346px;
  white-space: nowrap;
}

.screen-9 .element-11 {
  aspect-ratio: 0.99;
  height: 382px;
  left: calc(50.00% - 385px);
  position: absolute;
  top: 448px;
  width: 380px;
}

.screen-9 .element-12 {
  aspect-ratio: 0.99;
  height: 382px;
  left: calc(50.00% + 4px);
  position: absolute;
  top: 448px;
  width: 380px;
}

.screen-9 .frame-109 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff;
  box-shadow:
    0px 4px 20px #0000000d, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  height: 834px;
  left: 366px;
  overflow: hidden;
  position: fixed;
  top: -369px;
  transform: rotate(90.00deg);
  width: 101px;
}

.screen-9 .view-13 {
  height: 42px;
  left: 34px;
  position: absolute;
  top: calc(50.00% - 374px);
  transform: rotate(-90.00deg);
  width: 42px;
}

.screen-9 .liquid-glass-regular-8 {
  box-shadow: 0px 6.12px 17.5px #0000000d;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-9 .blur-6 {
  height: calc(100% + 46px);
  left: -23px;
  object-fit: cover;
  position: absolute;
  top: -23px;
  width: calc(100% + 46px);
}

.screen-9 .fill-6 {
  background: linear-gradient(
      0deg,
      rgba(247, 247, 247, 1) 0%,
      rgba(247, 247, 247, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ), linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background-blend-mode: color-dodge;
  border-radius: 259px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-9 .glass-effect-7 {
  -webkit-backdrop-filter: blur(2.6px) brightness(100.0%) saturate(95.0%);
  backdrop-filter: blur(2.6px) brightness(100.0%) saturate(95.0%);
  background-color: #00000001;
  border-radius: 259px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.17), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.14
    );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-9 .icon-park-outline-4 {
  aspect-ratio: 1;
  height: 19px;
  left: calc(50.00% - 9px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 19px;
}

.screen-9 .vector-44 {
  height: 73.51%;
  left: 13.24%;
  position: absolute;
  top: 13.24%;
  width: 73.51%;
}

.screen-9 .text-wrapper-73 {
  color: #000000;
  font-family: "Noto Sans Lao ExtraCondensed-Light", Helvetica;
  font-size: 26.2px;
  font-weight: 300;
  left: -13px;
  letter-spacing: 1.84px;
  line-height: normal;
  position: absolute;
  top: 680px;
  transform: rotate(-90.00deg);
}

.screen-9 .view-14 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff1a;
  border-radius: 20.49px;
  box-shadow:
    inset 0px 0px 7.17px #00000012, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.14), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  display: block;
  height: 42px;
  left: -55px;
  overflow: hidden;
  position: absolute;
  top: 275px;
  transform: rotate(-90.00deg);
  width: 222px;
}

.screen-9 .frame-110 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #0088ffb2;
  border-radius: 20.49px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.14), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  display: flex;
  height: 36px;
  justify-content: center;
  left: calc(50.00% - 107px);
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 109px;
}

.screen-9 .text-wrapper-74 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 11px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.77px;
  line-height: 35.5px;
  margin-left: 1px;
  text-align: center;
  white-space: nowrap;
  width: 42px;
}

.screen-9 .frame-111 {
  border-radius: 20.49px;
  display: flex;
  height: 36px;
  justify-content: center;
  left: 110px;
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 109px;
}

.screen-9 .text-wrapper-75 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 11px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.77px;
  line-height: 35.5px;
  margin-left: -0.2px;
  text-align: center;
  white-space: nowrap;
  width: 83px;
}

.screen-9 .view-15 {
  height: 42px;
  left: 34px;
  position: absolute;
  top: calc(50.00% - 303px);
  transform: rotate(-90.00deg);
  width: 42px;
}

.screen-9 .chevron-left-2 {
  height: 26px;
  left: calc(50.00% - 13px);
  position: absolute;
  top: calc(50.00% - 13px);
  width: 26px;
}

.screen-9 .icon-6 {
  height: 55.00%;
  left: 35.00%;
  position: absolute;
  top: 22.50%;
  width: 30.00%;
}
