.screen-27 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 1194px;
  min-width: 834px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.screen-27 .frame-485 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff;
  box-shadow:
    0px 4px 20px #0000000d, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  height: 834px;
  left: 366px;
  overflow: hidden;
  position: fixed;
  top: -369px;
  transform: rotate(90.00deg);
  width: 101px;
  z-index: 14;
}

.screen-27 .frame-486 {
  height: 26px;
  left: 49px;
  position: absolute;
  top: 772px;
  width: 26px;
}

.screen-27 .polygon-16 {
  height: 8px;
  left: 10px;
  position: absolute;
  top: 10px;
  transform: rotate(-90.00deg);
  width: 5px;
}

.screen-27 .ellipse-29 {
  border: 0.7px solid;
  border-color: #999999;
  border-radius: 13px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 1px;
  transform: rotate(-90.00deg);
  width: 26px;
}

.screen-27 .frame-487 {
  height: 26px;
  left: 49px;
  position: absolute;
  top: 478px;
  width: 26px;
}

.screen-27 .polygon-17 {
  height: 8px;
  left: 10px;
  position: absolute;
  top: 8px;
  transform: rotate(-90.00deg);
  width: 5px;
}

.screen-27 .ellipse-30 {
  border: 0.7px solid;
  border-color: #999999;
  border-radius: 13px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 1px;
  transform: rotate(90.00deg);
  width: 26px;
}

.screen-27 .div-12 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff1a;
  border-radius: 20.49px;
  box-shadow:
    inset 0px 0px 7.17px #00000012, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.14), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  display: block;
  height: 42px;
  left: -12px;
  overflow: hidden;
  position: absolute;
  top: 207px;
  transform: rotate(-90.00deg);
  width: 147px;
}

.screen-27 .frame-488 {
  border-radius: 20.49px;
  display: flex;
  height: 36px;
  justify-content: center;
  left: calc(50.00% - 70px);
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 73px;
}

.screen-27 .text-wrapper-363 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.91px;
  line-height: 35.5px;
  margin-left: -0.2px;
  text-align: center;
  white-space: nowrap;
  width: 13px;
}

.screen-27 .frame-489 {
  background-color: #0088ffb2;
  border-radius: 20.49px;
  display: flex;
  height: 36px;
  justify-content: center;
  left: 71px;
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 73px;
}

.screen-27 .text-wrapper-364 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.91px;
  line-height: 35.5px;
  margin-left: -0.2px;
  text-align: center;
  white-space: nowrap;
  width: 13px;
}

.screen-27 .icon-park-outline-24 {
  aspect-ratio: 1;
  height: 23px;
  left: calc(50.00% - 1px);
  position: absolute;
  top: calc(50.00% - 348px);
  transform: rotate(-90.00deg);
  width: 23px;
}

.screen-27 .vector-252 {
  height: 76.49%;
  left: 5.51%;
  position: absolute;
  top: 11.76%;
  width: 88.99%;
}

.screen-27 .majesticons-search-6 {
  aspect-ratio: 1;
  height: 23px;
  left: 50px;
  position: absolute;
  top: 112px;
  transform: rotate(-90.00deg);
  width: 23px;
}

.screen-27 .vector-253 {
  height: 72.32%;
  left: 13.82%;
  position: absolute;
  top: 13.84%;
  width: 72.33%;
}

.screen-27 .view-64 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff1a;
  border-radius: 20.49px;
  box-shadow:
    0px 0px 7.17px #00000012, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.14), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  height: 42px;
  left: 3px;
  overflow: hidden;
  position: absolute;
  top: 359px;
  transform: rotate(-90.00deg);
  width: 117px;
}

.screen-27 .frame-490 {
  border-radius: 20.49px;
  height: 36px;
  left: calc(50.00% - 48px);
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 85px;
}

.screen-27 .text-wrapper-365 {
  align-items: center;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 100.41%;
  justify-content: center;
  left: calc(50.00% - 42px);
  letter-spacing: 0.91px;
  line-height: 35.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 82px;
}

.screen-27 .polygon-18 {
  height: 5px;
  left: 101px;
  position: absolute;
  top: 18px;
  width: 4px;
}

.screen-27 .more-horizontal-17-instance {
  height: 25px !important;
  left: 49px !important;
  position: absolute !important;
  top: 24px !important;
  transform: rotate(-90.00deg) !important;
  width: 25px !important;
}

.screen-27 .element-44 {
  color: transparent;
  font-family: "Noto Sans Lao ExtraCondensed-Light", Helvetica;
  font-size: 21.7px;
  font-weight: 300;
  left: -54px;
  letter-spacing: 1.09px;
  line-height: normal;
  position: absolute;
  top: 620px;
  transform: rotate(-90.00deg);
}

.screen-27 .text-wrapper-366 {
  color: #000000;
  letter-spacing: 0.24px;
}

.screen-27 .text-wrapper-367 {
  color: #7c7e79;
  font-size: 17.2px;
  letter-spacing: 0.15px;
}

.screen-27 .text-wrapper-368 {
  color: #999999;
  font-size: 17.2px;
  letter-spacing: 0.15px;
}

.screen-27 .text-wrapper-369 {
  color: #000000;
  font-size: 17.2px;
  letter-spacing: 0.15px;
}

.screen-27 .frame-491 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  align-items: flex-end;
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff;
  box-shadow:
    0px 2px 4px #00000026, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  display: flex;
  height: 834px;
  justify-content: flex-end;
  left: 346px;
  overflow: hidden;
  position: fixed;
  top: -284px;
  transform: rotate(90.00deg);
  width: 141px;
  z-index: 2;
}

.screen-27 .frame-492 {
  display: flex;
  margin-bottom: 377.0px;
  margin-right: -362.0px;
  transform: rotate(-90.00deg);
  width: 834px;
}

.screen-27 .frame-493 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 80px;
  justify-content: center;
  padding: 34px 15px;
  position: relative;
  width: 65px;
}

.screen-27 .element-45 {
  align-items: center;
  align-self: stretch;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 10px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: -16.00px;
  margin-top: -18.00px;
  position: relative;
  text-align: center;
}

.screen-27 .text-wrapper-370 {
  color: #5e6367;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

.screen-27 .text-wrapper-371 {
  font-size: 20px;
}

.screen-27 .frame-494 {
  align-items: center;
  display: inline-flex;
  height: 80px;
  position: relative;
  width: 769px;
}

.screen-27 .frame-495 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 80px;
  justify-content: center;
  padding: 15px 27px 10px;
  position: relative;
  width: 97px;
}

.screen-27 .text-wrapper-372 {
  align-items: center;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 2.21px;
  line-height: 25px;
  margin-left: -8.00px;
  margin-right: -8.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.screen-27 .frame-496 {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 80px;
  justify-content: center;
  padding: 15px 27px 10px;
  position: relative;
  width: 45px;
}

.screen-27 .text-wrapper-373 {
  align-items: center;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 2.21px;
  line-height: 25px;
  margin-left: -19.00px;
  margin-right: -19.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.screen-27 .vector-254 {
  left: 64px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 3;
}

.screen-27 .vector-255 {
  left: 162px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 4;
}

.screen-27 .vector-256 {
  left: 258px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 5;
}

.screen-27 .vector-257 {
  left: 788px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 6;
}

.screen-27 .vector-258 {
  left: 356px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 7;
}

.screen-27 .vector-259 {
  left: 452px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 8;
}

.screen-27 .vector-260 {
  left: 550px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 9;
}

.screen-27 .vector-261 {
  left: 646px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 10;
}

.screen-27 .vector-262 {
  left: 744px;
  object-fit: cover;
  position: fixed;
  top: 183px;
  width: 1px;
  z-index: 11;
}

.screen-27 .frame-497 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 203px;
  width: 834px;
  z-index: 1;
}

.screen-27 .frame-498 {
  align-self: stretch;
  height: 90px;
  position: relative;
  width: 100%;
}

.screen-27 .frame-499 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 90px;
  justify-content: center;
  left: 0;
  padding: 34px 15px;
  position: absolute;
  top: 0;
  width: 65px;
}

.screen-27 .text-wrapper-374 {
  align-items: center;
  align-self: stretch;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  line-height: 70px;
  margin-bottom: -23.00px;
  margin-top: -25.00px;
  position: relative;
  text-align: center;
}

.screen-27 .frame-500 {
  display: flex;
  height: 90px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 769px;
}

.screen-27 .frame-501 {
  align-items: flex-start;
  display: inline-flex;
  height: 90px;
  position: relative;
  width: 769px;
}

.screen-27 .frame-502 {
  background-color: #ffd5dd;
  height: 123px;
  margin-bottom: -33.00px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-503 {
  align-items: center;
  background-color: #ffd5dd;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .text-wrapper-375 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 2.04px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 77px;
}

.screen-27 .frame-504 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-505 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-bottom: -33.00px;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .text-wrapper-376 {
  align-items: center;
  color: transparent;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 2.04px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 77px;
}

.screen-27 .frame-506 {
  border-radius: 7px;
  height: 25px;
  position: relative;
  width: 77px;
}

.screen-27 .text-wrapper-377 {
  align-items: center;
  color: transparent;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 11px;
  font-weight: 500;
  height: 25px;
  justify-content: center;
  left: 1px;
  letter-spacing: 1.87px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 76px;
}

.screen-27 .frame-507 {
  background-color: #e5e7eb;
  height: 123px;
  margin-bottom: -33.00px;
  position: relative;
  width: 45px;
}

.screen-27 .vector-263 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 834px;
}

.screen-27 .frame-508 {
  align-self: stretch;
  background-color: #f9f9fb;
  height: 90px;
  position: relative;
  width: 100%;
}

.screen-27 .frame-509 {
  background-color: #ffd5dd;
  height: 90px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-510 {
  background-color: #d9534f;
  height: 22px;
  position: relative;
  width: 22px;
}

.screen-27 .text-wrapper-378 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 10.6px;
  font-weight: 500;
  height: 22px;
  justify-content: center;
  left: calc(50.00% - 12px);
  letter-spacing: 1.80px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 24px;
}

.screen-27 .text-wrapper-379 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 2.04px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 77px;
}

.screen-27 .frame-511 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-bottom: -10.00px;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-512 {
  height: 22px;
  position: relative;
  width: 49.28px;
}

.screen-27 .frame-513 {
  background-color: #d9534f;
  display: flex;
  height: 22px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 22px;
}

.screen-27 .text-wrapper-380 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 11.4px;
  font-weight: 500;
  height: 22px;
  justify-content: center;
  letter-spacing: 1.94px;
  line-height: 22.0px;
  margin-left: 0;
  text-align: center;
  width: 23.76px;
}

.screen-27 .element-46 {
  aspect-ratio: 1;
  height: 22px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: calc(50.00% - 11px);
  width: 22px;
}

.screen-27 .frame-514 {
  background-color: #e5e7eb;
  height: 133px;
  margin-bottom: -43.00px;
  position: relative;
  width: 45px;
}

.screen-27 .frame-515 {
  align-self: stretch;
  height: 123px;
  position: relative;
  width: 100%;
}

.screen-27 .frame-516 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 123px;
  justify-content: center;
  left: 0;
  padding: 34px 15px;
  position: absolute;
  top: 0;
  width: 65px;
}

.screen-27 .text-wrapper-381 {
  align-items: center;
  align-self: stretch;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  line-height: 70px;
  margin-bottom: -6.50px;
  margin-top: -8.50px;
  position: relative;
  text-align: center;
}

.screen-27 .frame-517 {
  display: flex;
  height: 123px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 769px;
}

.screen-27 .frame-518 {
  align-items: flex-start;
  display: inline-flex;
  height: 123px;
  position: relative;
  width: 769px;
}

.screen-27 .element-47 {
  aspect-ratio: 1;
  height: 22px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.screen-27 .text-wrapper-382 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 2.04px;
  line-height: 25px;
  position: relative;
  text-align: center;
  width: 77px;
}

.screen-27 .frame-519 {
  background-color: #e5e7eb;
  height: 153px;
  margin-bottom: -30.00px;
  position: relative;
  width: 45px;
}

.screen-27 .frame-520 {
  align-self: stretch;
  background-color: #f9f9fb;
  height: 92px;
  position: relative;
  width: 100%;
}

.screen-27 .frame-521 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 92px;
  justify-content: center;
  left: 0;
  padding: 34px 15px;
  position: absolute;
  top: 0;
  width: 65px;
}

.screen-27 .text-wrapper-383 {
  align-items: center;
  align-self: stretch;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  line-height: 70px;
  margin-bottom: -22.00px;
  margin-top: -24.00px;
  position: relative;
  text-align: center;
}

.screen-27 .frame-522 {
  display: flex;
  height: 92px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 769px;
}

.screen-27 .frame-523 {
  align-items: flex-start;
  display: inline-flex;
  height: 92px;
  position: relative;
  width: 769px;
}

.screen-27 .frame-524 {
  height: 123px;
  margin-bottom: -31.00px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-525 {
  background-color: #e5d2ec;
  height: 92px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-526 {
  align-items: center;
  background-color: #e5d2ec;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 92px;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-527 {
  background-color: #e5f2e5;
  height: 92px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-528 {
  align-items: center;
  background-color: #e5f2e5;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-529 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-bottom: -8.00px;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-530 {
  background-color: #e5e7eb;
  height: 133px;
  margin-bottom: -41.00px;
  position: relative;
  width: 45px;
}

.screen-27 .frame-531 {
  align-self: stretch;
  height: 100px;
  position: relative;
  width: 100%;
}

.screen-27 .frame-532 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100px;
  justify-content: center;
  left: 0;
  padding: 34px 15px;
  position: absolute;
  top: 0;
  width: 65px;
}

.screen-27 .text-wrapper-384 {
  align-items: center;
  align-self: stretch;
  color: #5e6367;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0;
  line-height: 70px;
  margin-bottom: -18.00px;
  margin-top: -20.00px;
  position: relative;
  text-align: center;
}

.screen-27 .frame-533 {
  display: flex;
  height: 100px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 769px;
}

.screen-27 .frame-534 {
  align-items: flex-start;
  display: inline-flex;
  height: 133px;
  position: relative;
  width: 769px;
}

.screen-27 .frame-535 {
  height: 100px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-536 {
  background-color: #e5d2ec;
  height: 100px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-537 {
  background-color: #e5f2e5;
  height: 100px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-538 {
  background-color: #fde5cc;
  height: 100px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-539 {
  align-items: center;
  background-color: #fde5cc;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-540 {
  height: 22px;
  position: relative;
  width: 22px;
}

.screen-27 .text-wrapper-385 {
  align-items: center;
  color: transparent;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 10.6px;
  font-weight: 500;
  height: 22px;
  justify-content: center;
  left: calc(50.00% - 12px);
  letter-spacing: 1.80px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 24px;
}

.screen-27 .text-wrapper-386 {
  align-items: center;
  color: transparent;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 2.04px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 77px;
}

.screen-27 .frame-541 {
  background-color: #e5e7eb;
  height: 133px;
  position: relative;
  width: 45px;
}

.screen-27 .frame-542 {
  height: 123px;
  margin-bottom: -33.00px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-543 {
  height: 90px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-544 {
  background-color: #fde5cc;
  height: 90px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-545 {
  height: 133px;
  margin-bottom: -43.00px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-546 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 123px;
  justify-content: center;
  padding: 15px 0px;
  position: relative;
  width: 97px;
}

.screen-27 .frame-547 {
  background-color: #e5e7eb;
  height: 153px;
  margin-bottom: -63.00px;
  position: relative;
  width: 45px;
}

.screen-27 .rectangle-24 {
  border: 1px solid;
  border-color: #46a7fd;
  height: 901px;
  left: 65px;
  position: fixed;
  top: 203px;
  width: 97px;
  z-index: 12;
}

.screen-27 .vector-264 {
  left: 64px;
  position: fixed;
  top: 550px;
  width: 770px;
  z-index: 15;
}

.screen-27 .frame-548 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff;
  box-shadow:
    0px 4px 30px #00000012, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  height: 834px;
  left: 351px;
  position: fixed;
  top: 728px;
  transform: rotate(90.00deg);
  width: 131px;
  z-index: 13;
}

.screen-27 .frame-549 {
  height: 35px;
  left: 23px;
  position: absolute;
  top: 211px;
  transform: rotate(-90.00deg);
  width: 35px;
}

.screen-27 .ion-people-7 {
  aspect-ratio: 1;
  height: 35px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 35px;
}

.screen-27 .vector-265 {
  height: 68.75%;
  left: 3.13%;
  position: absolute;
  top: 15.62%;
  width: 93.75%;
}

.screen-27 .vector-266 {
  height: 68.75%;
  left: 34.38%;
  position: absolute;
  top: 15.62%;
  width: 62.50%;
}

.screen-27 .weui-setting-filled-6 {
  aspect-ratio: 1;
  height: 35px;
  left: 23px;
  position: absolute;
  top: 84px;
  transform: rotate(-90.00deg);
  width: 35px;
}

.screen-27 .ellipse-31 {
  background-color: #999999;
  border-radius: 8.05px;
  height: 45.83%;
  left: 29.16%;
  position: absolute;
  top: 25.00%;
  width: 45.83%;
}

.screen-27 .vector-267 {
  height: 83.33%;
  left: 8.33%;
  position: absolute;
  top: 8.33%;
  width: 83.33%;
}

.screen-27 .streamline-bag-yen-7 {
  aspect-ratio: 1;
  height: 31px;
  left: 25px;
  position: absolute;
  top: 466px;
  transform: rotate(-90.00deg);
  width: 31px;
}

.screen-27 .ellipse-32 {
  background-color: #999999;
  border-radius: 10.51px / 9.7px;
  height: 63.16%;
  left: 15.79%;
  position: absolute;
  top: 31.58%;
  width: 68.42%;
}

.screen-27 .vector-268 {
  height: 100%;
  left: 3.83%;
  position: absolute;
  top: 0;
  width: 92.33%;
}

.screen-27 .frame-550 {
  height: 35px;
  left: 22px;
  position: absolute;
  top: 589px;
  transform: rotate(-90.00deg);
  width: 35px;
}

.screen-27 .frame-551 {
  height: 35px;
  left: 23px;
  position: absolute;
  top: 339px;
  transform: rotate(-90.00deg);
  width: 35px;
}

.screen-27 .tabler-table-filled-12 {
  aspect-ratio: 1;
  height: 35px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 35px;
}

.screen-27 .vector-269 {
  height: 75.00%;
  left: 12.49%;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}

.screen-27 .tabler-table-filled-13 {
  aspect-ratio: 1;
  height: 35px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 100%;
}

.screen-27 .vector-270 {
  height: 25.00%;
  left: 12.49%;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}

.screen-27 .text-wrapper-387 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13.1px;
  font-weight: 500;
  height: 19px;
  justify-content: center;
  left: 59px;
  letter-spacing: 0.91px;
  line-height: 18.8px;
  position: absolute;
  text-align: center;
  top: 597px;
  transform: rotate(-90.00deg);
  white-space: nowrap;
}

.screen-27 .text-wrapper-388 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13.1px;
  font-weight: 500;
  height: 19px;
  justify-content: center;
  left: 59px;
  letter-spacing: 0.91px;
  line-height: 18.8px;
  position: absolute;
  text-align: center;
  top: 471px;
  transform: rotate(-90.00deg);
  white-space: nowrap;
}

.screen-27 .text-wrapper-389 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13.1px;
  font-weight: 500;
  height: 19px;
  justify-content: center;
  left: 59px;
  letter-spacing: 0.91px;
  line-height: 18.8px;
  position: absolute;
  text-align: center;
  top: 346px;
  transform: rotate(-90.00deg);
  white-space: nowrap;
}

.screen-27 .text-wrapper-390 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13.1px;
  font-weight: 500;
  height: 19px;
  justify-content: center;
  left: 59px;
  letter-spacing: 0.91px;
  line-height: 18.8px;
  position: absolute;
  text-align: center;
  top: 219px;
  transform: rotate(-90.00deg);
  white-space: nowrap;
}

.screen-27 .text-wrapper-391 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13.1px;
  font-weight: 500;
  height: 19px;
  justify-content: center;
  left: 59px;
  letter-spacing: 0.91px;
  line-height: 18.8px;
  position: absolute;
  text-align: center;
  top: 92px;
  transform: rotate(-90.00deg);
  white-space: nowrap;
}

.screen-27 .uim-calender-6 {
  aspect-ratio: 1;
  height: 35px;
  left: 22px;
  position: absolute;
  top: 716px;
  transform: rotate(-90.00deg);
  width: 35px;
}

.screen-27 .vector-271 {
  height: 25.00%;
  left: 8.33%;
  position: absolute;
  top: 16.67%;
  width: 83.33%;
}

.screen-27 .text-wrapper-392 {
  align-items: center;
  color: #0088ff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 13.1px;
  font-weight: 500;
  height: 19px;
  justify-content: center;
  left: 59px;
  letter-spacing: 0.91px;
  line-height: 18.8px;
  position: absolute;
  text-align: center;
  top: 723px;
  transform: rotate(-90.00deg);
  white-space: nowrap;
}
