.screen-10 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 1194px;
  min-width: 834px;
  position: relative;
  width: 100%;
}

.screen-10 .frame-112 {
  -webkit-backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.0px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff;
  box-shadow:
    0px 4px 20px #0000000d, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.13), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.11
    );
  height: 834px;
  left: 366px;
  overflow: hidden;
  position: fixed;
  top: -369px;
  transform: rotate(90.00deg);
  width: 101px;
  z-index: 2;
}

.screen-10 .view-16 {
  height: 42px;
  left: 34px;
  position: absolute;
  top: calc(50.00% - 374px);
  transform: rotate(-90.00deg);
  width: 42px;
}

.screen-10 .liquid-glass-regular-9 {
  box-shadow: 0px 6.12px 17.5px #0000000d;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-10 .blur-7 {
  height: calc(100% + 46px);
  left: -23px;
  object-fit: cover;
  position: absolute;
  top: -23px;
  width: calc(100% + 46px);
}

.screen-10 .fill-7 {
  background: linear-gradient(
      0deg,
      rgba(247, 247, 247, 1) 0%,
      rgba(247, 247, 247, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ), linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background-blend-mode: color-dodge;
  border-radius: 259px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-10 .glass-effect-8 {
  -webkit-backdrop-filter: blur(2.6px) brightness(100.0%) saturate(95.0%);
  backdrop-filter: blur(2.6px) brightness(100.0%) saturate(95.0%);
  background-color: #00000001;
  border-radius: 259px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.17), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.14
    );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.screen-10 .icon-park-outline-5 {
  aspect-ratio: 1;
  height: 19px;
  left: calc(50.00% - 9px);
  position: absolute;
  top: calc(50.00% - 9px);
  width: 19px;
}

.screen-10 .vector-45 {
  height: 73.51%;
  left: 13.24%;
  position: absolute;
  top: 13.24%;
  width: 73.51%;
}

.screen-10 .text-wrapper-76 {
  color: #000000;
  font-family: "Noto Sans Lao ExtraCondensed-Light", Helvetica;
  font-size: 26.2px;
  font-weight: 300;
  left: -13px;
  letter-spacing: 1.84px;
  line-height: normal;
  position: absolute;
  top: 680px;
  transform: rotate(-90.00deg);
}

.screen-10 .view-17 {
  height: 42px;
  left: 34px;
  position: absolute;
  top: calc(50.00% - 303px);
  transform: rotate(-90.00deg);
  width: 42px;
}

.screen-10 .chevron-left-3 {
  height: 26px;
  left: calc(50.00% - 13px);
  position: absolute;
  top: calc(50.00% - 13px);
  width: 26px;
}

.screen-10 .icon-7 {
  height: 55.00%;
  left: 35.00%;
  position: absolute;
  top: 22.50%;
  width: 30.00%;
}

.screen-10 .frame-113 {
  display: flex;
  flex-direction: column;
  height: 943px;
  left: calc(50.00% - 372px);
  position: fixed;
  top: 164px;
  width: 744px;
  z-index: 1;
}

.screen-10 .text-wrapper-77 {
  align-items: center;
  align-self: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 30px;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  letter-spacing: 1.50px;
  line-height: 31.8px;
  margin-top: 146px;
  text-align: center;
  white-space: nowrap;
  width: 502px;
}

.screen-10 .view-18 {
  -webkit-backdrop-filter: blur(11.9px) brightness(100%);
  backdrop-filter: blur(11.9px) brightness(100%);
  background-color: #ffffff47;
  border: 0.54px solid;
  border-color: #ffffff1a;
  border-radius: 6.71px;
  box-shadow: 0px 0px 7px #00000026;
  height: 337px;
  margin-top: 72px;
  overflow: hidden;
  position: relative;
}

.screen-10 .vector-46 {
  height: 281px;
  left: calc(50.00% - 124px);
  position: absolute;
  top: 56px;
  width: 1px;
}

.screen-10 .vector-47 {
  height: 281px;
  left: calc(50.00% + 125px);
  position: absolute;
  top: 56px;
  width: 1px;
}

.screen-10 .vector-48 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 744px;
}

.screen-10 .vector-49 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 103px;
  width: 744px;
}

.screen-10 .frame-114 {
  height: 233px;
  left: 0;
  position: absolute;
  top: 104px;
  width: 247px;
}

.screen-10 .rectangle-10 {
  border: 0.88px solid;
  border-color: #0000004c;
  border-radius: 8.8px;
  height: 160px;
  left: 43px;
  position: absolute;
  top: 44px;
  width: 160px;
}

.screen-10 .union {
  height: 48px;
  left: 99px;
  position: absolute;
  top: 100px;
  width: 48px;
}

.screen-10 .gemini-generated-2 {
  height: 185px;
  left: calc(50.00% - 94px);
  position: absolute;
  top: 23px;
  width: 185px;
}

.screen-10 .element-13 {
  aspect-ratio: 1;
  height: 185px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 185px;
}

.screen-10 .frame-115 {
  height: 234px;
  left: 248px;
  position: absolute;
  top: 103px;
  width: 247px;
}

.screen-10 .rectangle-11 {
  border: 0.88px solid;
  border-color: #0000004c;
  border-radius: 8.8px;
  height: 160px;
  left: 43px;
  position: absolute;
  top: 45px;
  width: 160px;
}

.screen-10 .union-2 {
  height: 48px;
  left: 99px;
  position: absolute;
  top: 101px;
  width: 48px;
}

.screen-10 .element-14 {
  aspect-ratio: 0.99;
  height: 186px;
  left: calc(50.00% - 92px);
  position: absolute;
  top: 24px;
  width: 185px;
}

.screen-10 .frame-116 {
  height: 234px;
  left: 497px;
  position: absolute;
  top: 103px;
  width: 247px;
}

.screen-10 .element-15 {
  aspect-ratio: 0.99;
  height: 186px;
  left: calc(50.00% - 93px);
  position: absolute;
  top: 24px;
  width: 185px;
}

.screen-10 .text-wrapper-78 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 29px;
  justify-content: center;
  left: calc(50.00% - 28px);
  letter-spacing: 0.90px;
  line-height: 28.2px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-79 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 29px;
  justify-content: center;
  left: calc(50.00% - 17px);
  letter-spacing: 0.80px;
  line-height: 28.2px;
  position: absolute;
  top: 65px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-80 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 29px;
  justify-content: center;
  left: calc(50.00% + 180px);
  letter-spacing: 0.80px;
  line-height: 28.2px;
  position: absolute;
  text-align: center;
  top: 65px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-81 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 29px;
  justify-content: center;
  left: calc(50.00% - 323px);
  letter-spacing: 0.80px;
  line-height: 28.2px;
  position: absolute;
  text-align: center;
  top: 65px;
  white-space: nowrap;
}

.screen-10 .frame-117 {
  align-items: center;
  display: inline-flex;
  gap: 39px;
  height: 72.11px;
  margin-top: 65px;
  position: relative;
  width: 746.08px;
}

.screen-10 .view-19 {
  -webkit-backdrop-filter: blur(3.3px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(3.3px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff1a;
  border-radius: 32.83px;
  box-shadow:
    inset 0px 0px 11.49px #00000012, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 2.0px rgba(0, 0, 0, 0.2), inset -1px 0 2.0px rgba(
      0,
      0,
      0,
      0.16
    );
  height: 67.3px;
  overflow: hidden;
  position: relative;
  width: 355.71px;
}

.screen-10 .frame-118 {
  border-radius: 32.83px;
  display: flex;
  height: 58px;
  justify-content: center;
  left: calc(50.00% - 171px);
  overflow: hidden;
  position: absolute;
  top: 5px;
  width: 175px;
}

.screen-10 .text-wrapper-82 {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 17.6px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 1.23px;
  line-height: 56.9px;
  margin-left: -0.7px;
  text-align: center;
  white-space: nowrap;
  width: 67.3px;
}

.screen-10 .frame-119 {
  -webkit-backdrop-filter: blur(3.2px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(3.2px) brightness(100.0%) saturate(100.0%);
  background-color: #0088ffb2;
  border-radius: 32.83px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 2.0px rgba(0, 0, 0, 0.2), inset -1px 0 2.0px rgba(
      0,
      0,
      0,
      0.16
    );
  height: 58px;
  left: 176px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  width: 175px;
}

.screen-10 .text-wrapper-83 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 17.6px;
  font-weight: 700;
  height: 100.41%;
  justify-content: center;
  left: calc(50.00% - 68px);
  letter-spacing: 1.23px;
  line-height: 56.9px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 133px;
}

.screen-10 .view-20 {
  -webkit-backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  background-color: #ffffff1a;
  border-radius: 36.71px;
  box-shadow:
    0px 0px 9.4px #00000012, inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.18), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.14
    );
  height: 72.11px;
  overflow: hidden;
  position: relative;
  width: 351.37px;
}

.screen-10 .frame-120 {
  -webkit-backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  backdrop-filter: blur(2.7px) brightness(100.0%) saturate(100.0%);
  background-color: #999999;
  border-radius: 36.71px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 0 rgba(
      255,
      255,
      255,
      0.32
    ), inset 0 -1px 1px rgba(0, 0, 0, 0.18), inset -1px 0 1px rgba(
      0,
      0,
      0,
      0.14
    );
  height: 64px;
  left: 5px;
  overflow: hidden;
  position: relative;
  top: 4px;
  width: 342px;
}

.screen-10 .text-wrapper-84 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Noto Sans JP", Helvetica;
  font-size: 17px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  left: calc(50.00% - 109px);
  letter-spacing: 1.19px;
  line-height: 46.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 220px;
}
